@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
  --color-primary: #021526;
  --color-secondary: #03346e;
  --animate-slide-down: slide-down 0.9s cubic-bezier(0.4, 0, 0.2, 1) both;
  --animate-blink: blink 2s cubic-bezier(0.4, 0, 0.2, 1) both infinite;

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}

body {
  font-family: var(--font-jetbrains);
}

.tile-grid {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  opacity: 40%;
}

@media (min-width: 300px) {
  .tile-grid {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  }

  .navigation {
    width: 350px;
  }
}

@media (min-width: 640px) {
  .tile-grid {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
  }

  .navigation {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .tile-grid {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(90px, 1fr));
  }

  .navigation {
    width: 1050px;
  }
}

@media (min-width: 1300px) {
  .navigation {
    width: 1200px;
  }
}

.tile {
  box-sizing: border-box;
}
